<head>
    <script
    src="https://code.jquery.com/jquery-3.5.1.js"
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
    <%- include('./partials/adheaders'); %>
</head>
<%- include('./partials/header'); %>
<div style="margin: 15px;">
    <span style="font-size: 25px; color: white;">Currently Following: </span>
</div>
<div style="margin: 15px;">
    <span style="font-size: 17px; color: white;">Online: </span>
</div>
<div style="margin: 15px;">
    <%- include('./partials/followingonline'); %>
</div>
<div style="margin: 15px;">
    <span style="font-size: 17px; color: white;">Offline: </span>
</div>
<div style="margin: 15px;">
    <%- include('./partials/followingoffline'); %>
</div>
<%- include('./partials/googlead'); %>