<head>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
</head>
<% if(onlinestreamer !='' ){ %>
    <div class="row show">
        <ul>
            <% onlinestreamer.forEach(function(onlinestreamer) { %>
                <div class="row">
                    <div class="column">
                        <div onclick="window.location='/<%= onlinestreamer %>'"><img src="https://cdn.throwdown.tv/thumbnail/<%= onlinestreamer %>" style="max-width: 300px; max-height: 300px;">
                            <div class="row px-3"> <img src="https://cdn.throwdown.tv/avatar/<%= onlinestreamer %>" style=" margin-top: 5px; max-width: 50px; max-height: 50px;" class="rounded-circle profile-pic mr-3" alt="profile picture"> 
                                <div class="flex-column" style="margin-bottom: 0px; margin-left: 10px;">
                                    <div class="row" style="width: 50%;">
                                        <h3 style="color: yellow; margin-bottom: 0px; font-size: 25px;" class="lead mb-3">
                                            <%= onlinestreamer %> <div id="live_status_<%= onlinestreamer %>"><span style="font-size: 10px; margin-top: 0px; color: red;">OFFLINE</span></div>
                                            <script>
                                                axios.get('https://cdn.throwdown.tv/api/streams/<%= onlinestreamer %>')
                                                    .then(function (response){
                                                        if (response.data.isLive) {
                                                            document.getElementById("live_status_<%= onlinestreamer %>").innerHTML = `<span style="font-size: 10px; margin-top: 0px; color: lime;">ONLINE</span><span style="font-size: 10px; margin-top: 0px; color: orange;"> ${response.data.viewers} Viewers</span> ` 
                                                        }
                                                    })
                                            </script>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column" style="margin-right: 5px; margin-left: 10px;">
                        <div id="stream_info_title_<%= onlinestreamer %>"></div>
                        <div id="stream_info_description_<%= onlinestreamer %>"></div>
                        <script>
                            axios.get('https://cdn.throwdown.tv/api/stream_info/<%= onlinestreamer %>')
                                .then(function (response){
                                        document.getElementById("stream_info_title_<%= onlinestreamer %>").innerHTML = `<a style="color: white; word-wrap: break-word; font-size: 30px;">${response.data.streamtitle}</a>` 
                                        document.getElementById("stream_info_description_<%= onlinestreamer %>").innerHTML = `<a style="color: white; word-wrap: break-word; font-size: 15px;">${response.data.streamdescription}</a>` 
                                })
                        </script>
                    </div>
                </div>
            <% }) %>
        </ul>
    </div>
<% } else { %>
    <div class="row show">
        Nobody is live right now...
    </div>
<% } %>