<head>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
</head>
<% if(following !='' ){ %>
    <div class="row show">
        <ul>
            <% following.forEach(function(following) { %>
                <div id="ul_following_<%= following %>" class="row" style="margin-bottom: 6px; overflow-wrap: break-word; word-wrap: break-word;  word-break: break-word; -ms-hyphens: auto; -moz-hyphens: auto; -webkit-hyphens: auto; hyphens: auto;">
                    <div class="column">
                        <div onclick="window.location='/<%= following %>'"><img src="https://cdn.throwdown.tv/thumbnail/<%= following %>" style="max-width: 300px; max-height: 300px;">
                        </div>
                    </div>
                    <div class="column" style="margin-right: 5px; margin-left: 10px;">
                        <div class="row px-3"> <img src="https://cdn.throwdown.tv/avatar/<%= following %>" style=" margin-top: 5px; max-width: 50px; max-height: 50px;" class="rounded-circle profile-pic mr-3" alt="profile picture"> 
                            <div class="flex-column" style="margin-bottom: 0px; margin-left: 10px;">
                                <div class="row" style="width: 50%;">
                                    <h3 style="color: yellow; margin-bottom: 0px; font-size: 25px;" class="lead mb-3">
                                        <%= following %> <div style="margin: 0px;" id="live_status_<%= following %>"><span style="font-size: 10px; margin-top: 0px; color: red;">OFFLINE</span></div>
                                        <script>
                                            axios.get('https://cdn.throwdown.tv/api/streams/<%= following %>')
                                                .then(function (response){
                                                    if (response.data.isLive) {
                                                        document.getElementById("live_status_<%= following %>").innerHTML = `<span style="font-size: 10px; margin-top: 0px; color: lime;">ONLINE</span><span style="font-size: 10px; margin-right: 5px; color: orange;"> ${response.data.viewers} Viewers</span> ` 
                                                    }
                                                })
                                        </script>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div id="stream_info_title_<%= following %>"></div>
                        <div id="stream_info_description_<%= following %>"></div>
                        <script>
                            axios.get('https://cdn.throwdown.tv/api/stream_info/<%= following %>')
                                .then(function (response){
                                        document.getElementById("stream_info_title_<%= following %>").innerHTML = `<a style="color: white; word-wrap: break-word; font-size: 30px;">${response.data.streamtitle}</a>` 
                                        document.getElementById("stream_info_description_<%= following %>").innerHTML = `<a style="color: white; word-wrap: break-word; font-size: 15px;">${response.data.streamdescription}</a>` 
                                })
                        </script>
                    </div>
                </div>
                <script>
                    axios.get('https://cdn.throwdown.tv/api/streams/<%= following %>')
                        .then(function (response){
                            if (!response.data.isLive) {
                                document.getElementById("ul_following_<%= following %>").innerHTML = `<div></div>` 
                            }
                        })
                </script>
            <% }) %>
        </ul>
    </div>
<% } else { %>
    <div class="row show">
        You are not following anyone...
    </div>
<% } %>