<head>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
</head>
<% if(following !='' ){ %>
    <div class="row show">
        <ul>
            <% following.forEach(function(following) { %>
                <div class="row px-3"> <img src="https://cdn.throwdown.tv/avatar/<%= following %>" style="max-width: 100px; max-height: 100px;" class="rounded-circle profile-pic mr-3" alt="profile picture"> 
                    <div class="flex-column" style="margin-bottom: 0px; margin-left: 10px;">
                        <div class="row" style="width: 50%;">
                            <h3 style="color: lime; font-size: 25px;" class="lead mb-3">
                                <%= following %> <div id="live_status"><span style="color: red;">OFFLINE</span></div>
                                <button id="follow_button" type="submit" onclick="window.location.href='/<%= following %>'" class="btn btn-success">Go to Channel</button>
                                <script>
                                    axios.get('https://cdn.throwdown.tv/api/streams/<%= following %>')
                                        .then(function (response){
                                            if (response.isLive) {
                                                console.log("<%= following %> is live")
                                                document.getElementById("live_status").innerHTML = `<span style="color: lime;">ONLINE</span>` 
                                            }
                                        })
                                </script>
                            </h3>
                        </div>
                    </div>
                </div>
            <% }) %>
        </ul>
    </div>
<% } else { %>
    <div class="row show">
        You are not following anyone...
    </div>
<% } %>