<head>
    <script
    src="https://code.jquery.com/jquery-3.5.1.js"
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
</head>
<%- include('./partials/header'); %>
    <%- include('./partials/messages'); %>
        <div style="margin: 15px;">
            <span style="font-size: 25px; color: white;">Welcome </span>
            <span style="font-size: 25px; color: lime;">
                <%= user.username %>
            </span>
        </div>
        <div style="margin: 15px;">
            <a href="/<%= channelurl %>" class="btn btn-secondary">Livestream Page</a>
        </div>
        <div style="margin: 15px;">
            <form action="/dashboard" method="POST">
                <div class="form-group">
                    <label for="streamtitle">Stream Title</label>
                    <input type="streamtitle" name="streamtitle" class="form-control" id="streamtitle">
                    <small id="streamtitle_info" class="form-text text-muted">Enter the title of your stream that will be
                        displayed on your livestream page.</small>
                </div>
                <div class="form-group">
                    <label for="donationlink">Donation Link</label>
                    <input type="donationlink" name="donationlink" class="form-control" id="donationlink" style="white-space: pre-line;"></input>  
                    <small id="donationlink_info" class="form-text text-muted">Link to your Donation/Tip page</small>
                </div>
                <div class="form-group">
                    <label for="streamdescription">Stream Description</label>
                    <textarea type="streamdescription" name="streamdescription" class="form-control" id="streamdescription" style="white-space: pre-line;"></textarea>  
                    <small id="streamdescription_info" class="form-text text-muted">Enter the description of your stream that will be
                        displayed on your livestream page.</small>
                </div>
                <div class="form-group">
                    <label for="streamavatar">Avatar URL</label>
                    <input type="streamavatar" name="streamavatar" class="form-control" id="streamavatar"></input>  
                    <small id="streamavatar_info" class="form-text text-muted">The URL for the image that will be used as your Avatar. (Accepted formats: .png|.jpg</small>
                </div>
                <script>
                    document.getElementById("streamtitle").value="<%= streamtitle %>";
                    document.getElementById("donationlink").value="<%= donationlink %>";
                    document.getElementById("streamdescription").value="<%= streamdescription %>";
                    document.getElementById("streamavatar").value="<%= streamavatar %>";
                </script>
                <button type="submit" class="btn btn-primary">Apply Changes</button>
            </form>
        </div>
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Encoder Information
                    </button>
                </h5>
            </div>
            <div class="row">
                <div class="col">
                    <div id="accordion">
                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                            <div style="color: white; font-size: 25px;" class="card-body">
                                RTMP Ingest Servers:
                            </div>
                            <div class="card-body">
                                US 01: rtmp://us01.throwdown.tv/live
                            </div>
                            <div class="card-body">
                                EU 01: rtmp://eu01.throwdown.tv/live
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div style="color: white; font-size: 25px;" class="card-body">
                        Stream Key
                    </div>
                    <div class="card-body" style="color: yellow;">
                        <%= streamkey %>
                    </div>
                    <div class="card-body" style="color: red;">
                        Do NOT share this key with anyone. You can reset it if it ever gets compromised
                    </div>
                    <div>
                        <form action="/dashboard/streamkey" method="POST">
                            <button type="submit" class="btn btn-primary">Reset Stream Key</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div style="margin: 15px;">
            <a href="/users/logout" style="color: red;" class="btn btn-secondary">Logout</a>
        </div>