<head>
    <link href="https://vjs.zencdn.net/7.10.2/video-js.css" rel="stylesheet" />
    <script data-ad-client="ca-pub-3022320816537640" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
<%- include('./partials/header'); %>
<%- include('./partials/messages'); %>
<style>
    .profile-pic {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        object-fit: contain;
        margin-top: 4px;
    }
</style>
<div style="margin: 50px;">

</div>
    <body>
        <div class="container">
            <div class="row">
                
                <div class="ccol-12 col-md-8">
                    <div>
                        <div style="display: inline-block;" id="livestatus"><%- livestatus %></div>
                        <div style="display: inline-block;">---</div>
                        <div style="display: inline-block;" id="liveviewers"><p style="color: darkorange;">0</p></div>
                        <div style="display: inline-block;"><p style="color: darkorange;">Viewers</p></div>
                    </div>
                    <%- streamplayer %>
                    <div style="margin-top: 4px;">
                        <div class="row px-3"> <img src="<%= avatarurl %>" class="rounded-circle profile-pic mr-3" alt="profile picture"> 
                            <div class="flex-column" style="margin-bottom: 0px; margin-left: 10px;">
                                <div class="row">
                                    <h3 style="color: white; font-size: 25px;" class="lead mb-3">
                                        <%= streamtitle %>
                                    </h3>
                                </div>
                                <div class="row">
                                    <p id="username_field" style="color: lime; font-size: 15px; margin-right: 10px;" class="lead mb-3"><%= user %> </p>
                                    <p id="followers" style="color: rgb(255, 0, 179); font-size: 15px;" class="lead mb-3"> Followers: <span style="color: yellow;"><%= followercount %></span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="margin-left: 5px;" class="row">
                        <%- followbutton %>
                        <form style="margin: 10px;" action="<%= donationlink %>">
                            <button type="submit" class="btn btn-primary">Donate</button>
                        </form>
                    </div>
                    <div style="margin-top: 15px; margin-left: 5px; margin-right: 5px;">
                        <p style="color: white; font-size: 15px;" class="lead mb-3">
                            <%= streamdescription %>
                        </p>
                    </div>
                    <%- include('./partials/googlead'); %>
                </div>
                <div class="col-6 col-md-4">
                    Chat
                </div>
            </div>
        </div>
        </div>
        <script src="https://vjs.zencdn.net/7.10.2/video.min.js"></script>
        <script>
            var player = videojs("player", {autoplay: true});
            player.on('error', function() {
                document.getElementById("livestatus").innerHTML=`<p style="color: red;">OFFLINE</p>`;
                player.src({
                    type: 'video/mp4',
                    src: 'throwdown.mp4'
                });
            }) 
        </script>
    </body>