<head>
    <%- include('./partials/adheaders'); %>
    <script src="js/video.min.js"></script>
    <script src="js/nuevo.min.js"></script>
    <script src="js/flv.min.js"></script>
    <script src="js/videojs-flvjs.min.js"></script>
    <script src="js/plugins/videojs-chromecast.min.js"></script>
    <script src="js/videojs_5.vast.vpaid.min.js"></script>
    <script src="videojs-dash.min.js"></script>
    <script src="dash.all.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <link href="js/skins/treso/videojs.min.css" rel="stylesheet">
    <link href="css/videojs.vast.vpaid.min.css" rel="stylesheet">
</head>
<%- include('./partials/header'); %>
<%- include('./partials/messages'); %>
<style>
    .profile-pic {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        object-fit: contain;
        margin-top: 4px;
    }
</style>
<div style="margin: 50px;">
</div>
    <body>
        <div class="container">
            <div class="row">
                <div class="ccol-12 col-md-8">
                    <div>
                        <div style="display: inline-block;" id="livestatus"><%- livestatus %></div>
                        <div style="display: inline-block;">---</div>
                        <div style="display: inline-block;" id="liveviewers"><p style="color: darkorange;"><%= liveviewers %></p></div>
                        <div style="display: inline-block;"><p style="color: darkorange;">Viewers</p></div>
                    </div>
                    <div style="display: block;">
                        <video id="player" class="video-js vjs-fluid vjs-big-play-centered" controls preload="auto" fluid="true"
                            width="1280" height="720" poster="thumbnail.png" autoplay=true data-setup='{"plugins": {"vastClient": {"adTagUrl": "", "adsCancelTimeout": 5000, "adsEnabled": true}}}'>                            
                            <p class="vjs-no-js">
                                To view this video please enable JavaScript, and consider upgrading to a
                                web browser that
                                <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                            </p>
                        </video>
                    </div>
                    <div style="margin-top: 4px;">
                        <div class="row px-3"> <img src="<%= avatarurl %>" class="rounded-circle profile-pic mr-3" alt="profile picture"> 
                            <div class="flex-column" style="margin-bottom: 0px; margin-left: 10px;">
                                <div class="row">
                                    <h3 style="color: white; font-size: 25px;" class="lead mb-3">
                                        <%= streamtitle %>
                                    </h3>
                                </div>
                                <div class="row">
                                    <p id="username_field" style="color: lime; font-size: 15px; margin-right: 10px;" class="lead mb-3"><%= user %> </p>
                                    <p id="followers" style="color: rgb(255, 0, 179); font-size: 15px;" class="lead mb-3"> Followers: <span style="color: yellow;"><%= followercount %></span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="margin-left: 5px;" class="row">
                        <%- followbutton %>
                        <form style="margin: 10px;" action="<%= donationlink %>">
                            <button type="submit" class="btn btn-primary">Donate</button>
                        </form>
                    </div>
                    <div style="margin-top: 15px; margin-left: 5px; margin-right: 5px;">
                        <p style="color: white; font-size: 15px;" class="lead mb-3">
                            <%= streamdescription %>
                        </p>
                    </div>
                    <%- include('./partials/googlead'); %>
                </div>
                <div class="col-6 col-md-4">
                    Chat is still WIP 
                </div>
            </div>
        </div>
        </div>
        <script>
            setInterval(function(){
                axios.get('https://cdn.throwdown.tv/api/streams/<%= user %>')
                    .then(function (response){
                        document.getElementById('liveviewers').innerHTML = `<p style="color: darkorange;">${response.data.viewers}</p>`;
                    })
            }, 11000)
        </script>
        <script id="erasable">
            var player = videojs("player", {autoplay: true, errorDisplay: false, techOrder: ['html5', 'flvjs'], flvjs: {mediaDataSource: {isLive: true, cors: true, withCredentials: false,}}}, function() {
                this.src({
                    src: "<%= streamlink %>",
                    type: '<%= streamformat %>'
                })
                this.on('error', function(event) {
                    document.getElementById('livestatus').innerHTML = `<p style="color: red;">OFFLINE</p>`
                    this.src({
                        src: 'throwdown.mp4',
                        type: 'video/mp4'
                    })
                })
            });
            setInterval(function(){
                player.src({
                    src: "<%= streamlink %>",
                    type: '<%= streamformat %>'
                })
            }, 11000)
            player.play();
            player.chromecast()
            player.nuevo({ 
                retryNumber: 2, 
                retryVideo: 'throwdown.mp4',
                rateMenu: false,
                shareMenu: false,
                zoomMenu: false,
                rewindButton: false,
                settingsButton: false,
                contextMenu: false,
                timetooltip: false,
            });
        </script>
    </body>