<head>
    <link href="https://vjs.zencdn.net/7.10.2/video-js.css" rel="stylesheet" />
</head>
<%- include('./partials/header'); %>
<%- include('./partials/messages'); %>
<div style="margin: 50px;">

</div>
    <body>
        <div class="container">
            <div class="row">
                <div class="ccol-12 col-md-8">
                    <video id="player" class="video-js vjs-big-play-centered" controls preload="auto" fluid="true"
                        width="1280" height="720" poster="thumbnail.png" errorDisplay: false autoplay="true"
                        data-setup="{}">
                        <source src="https://eu02.throwdown.tv/live/<%= streamkey %>/index.m3u8"
                            type="application/x-mpegURL" />
                        <p class="vjs-no-js">
                            To view this video please enable JavaScript, and consider upgrading to a
                            web browser that
                            <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                        </p>
                    </video>
                    <div style="margin-top: 4px;">
                        <p style="color: white; font-size: 25px;" class="lead mb-3">
                            <%= streamtitle %>
                        </p>
                        <p style="color: white; font-size: 15px;" class="lead mb-3">
                            <%= user %>
                        </p>
                    </div>
                </div>
                <div class="col-6 col-md-4">
                    Chat
                </div>
            </div>
        </div>
        </div>
        <script src="https://vjs.zencdn.net/7.10.2/video.min.js"></script>
    </body>