<head>
    <%- include('./partials/adheaders'); %>
    <script src="js/video.min.js"></script>
    <script src="js/nuevo.min.js"></script>
    <script src="js/videojs_5.vast.vpaid.min.js"></script>
    <script src="js/flv.min.js"></script>
    <script src="js/videojs-flvjs.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <link href="js/skins/treso/videojs.min.css" rel="stylesheet">
    <link href="css/videojs.vast.vpaid.min.css" rel="stylesheet">
</head>
<%- include('./partials/header'); %>
<%- include('./partials/messages'); %>
<style>
    .profile-pic {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        object-fit: contain;
        margin-top: 4px;
    }
</style>
<div style="margin-top: auto">
</div>
    <body>
        <div class="container" style="align-self: center;">
            <div class="row" style="align-self: center;">
                <div class="row" style="width: 100%;" style="align-self: center;">
                    <div class="ccol-12 col-md-8" style="display: inline-block; overflow: hidden;">
                        <div>
                            <div style="display: inline-block;" id="livestatus"><%- livestatus %></div>
                            <div style="display: inline-block;">---</div>
                            <div style="display: inline-block;" id="liveviewers"><p style="color: darkorange;"><%= liveviewers %></p></div>
                            <div style="display: inline-block;"><p style="color: darkorange;">Viewers</p></div>
                            <div style="display: inline-block;">---</div>
                            <div style="display: inline-block;"><p style="color: rgb(255, 0, 179);">Followers: </p></div>
                            <div style="display: inline-block;"><p style="color: yellow;"><%= followercount %></p></div>
                        </div>
                        <div style="display: block;">
                            <video id="player" class="video-js vjs-fluid vjs-big-play-centered" controls preload="auto" fluid="true"
                                width="1280" height="720" poster="thumbnail.png" autoplay=true data-setup='{"plugins": {"vastClient": {"adTagUrl": "", "adsCancelTimeout": 5000, "adsEnabled": true}}}'>                            
                                <p class="vjs-no-js">
                                    To view this video please enable JavaScript, and consider upgrading to a
                                    web browser that
                                    <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                                </p>
                            </video>
                        </div>
                        <div style="margin-top: 4px;">
                            <div class="row px-3"> <img src="<%= avatarurl %>" class="rounded-circle profile-pic mr-3" alt="profile picture"> 
                                <div class="flex-column" style="margin-bottom: 0px; margin-left: 10px;">
                                    <div class="row">
                                        <h3 style="color: white; font-size: 25px;" class="lead mb-3">
                                            <%= streamtitle %>
                                        </h3>
                                    </div>
                                    <div class="row">
                                        <p id="username_field" style="color: lime; font-size: 15px; margin-right: 4px;" class="lead mb-3"><%= user %></p>
                                        <%- badge %>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="margin-left: 5px;" class="row">
                            <%- followbutton %>
                            <form style="margin: 10px;" action="<%= donationlink %>">
                                <button type="submit" class="btn btn-primary">Donate</button>
                            </form>
                        </div>
                        <div style="margin-top: 15px; margin-left: 5px; margin-right: 5px;">
                            <p style="color: white; font-size: 15px;" class="lead mb-3">
                                <%= streamdescription %>
                            </p>
                        </div>
                        <%- include('./partials/googlead'); %>
                    </div>
                    <div class="col-6 col-md-4" style="color: white; display: block; overflow: hidden;">
                        <div style="height: 550px; width: 100%; background: rgba(0, 0, 0, 0.25);">
                            <a style="color: white; margin-bottom: 5px; text-align: center;"><%= user %>'s chat</a>
                            <iframe style="width:100%; height: 100%; overflow: hidden;" src="https://chat.throwdown.tv:8443/getchat/<%= user %>/<%= chatkey %>" frameborder="0"></iframe>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
        </div>
        <script id="erasable">
            var alreadyLive = false
            axios.get('https://cdn.throwdown.tv/api/streams/<%= user %>')
                .then(function (response){
                    document.getElementById('liveviewers').innerHTML = `<p style="color: darkorange;">${response.data.viewers}</p>`;
                    if (response.data.isLive === true) {
                        if (alreadyLive === false) {
                            alreadyLive = true
                        }
                    } else {
                        alreadyLive = false
                    }
                })
            var player = videojs("player", {autoplay: true, errorDisplay: false, flvjs: {mediaDataSource: {isLive: true, cors: true, withCredentials: false}}}, function() {
                this.src({
                    src: "<%= streamlink %>",
                    type: '<%= streamformat %>'
                })
                this.on('error', function(event) {
                    document.getElementById('livestatus').innerHTML = `<p style="color: red;">OFFLINE</p>`
                    this.src({
                        src: 'throwdown.webm',
                        type: 'video/webm'
                    })
                })
                setInterval(function(){
                    axios.get('https://cdn.throwdown.tv/api/streams/<%= user %>')
                        .then(function (response){
                            document.getElementById('liveviewers').innerHTML = `<p style="color: darkorange;">${response.data.viewers}</p>`;
                            if (response.data.isLive === false) {
                                if (alreadyLive === true) {
                                    document.getElementById('livestatus').innerHTML = `<p style="color: red;">OFFLINE</p>`
                                    alreadyLive = false;
                                    window.location.reload(true);
                                }
                            } else {
                                if (alreadyLive === false) {
                                    document.getElementById('livestatus').innerHTML = `<p style="color: lime;">ONLINE</p>`
                                    alreadyLive = true;
                                    setTimeout(function(){
                                        window.location.reload(true);
                                    }, 2000)
                                }
                            }
                            if (response.data.banned === true) {
                                window.location.reload(true);
                            }
                        })
                }, 4500)
            });
            player.play();
            player.nuevo({ 
                retryNumber: 2, 
                retryVideo: 'throwdown.webm',
                rateMenu: false,
                shareMenu: false,
                zoomMenu: false,
                rewindButton: false,
                settingsButton: false,
                contextMenu: false,
                timetooltip: false,
            });
        </script>
    </body>